---
import '@/styles/global.css';
const productName = 'Extradora Multi flor';

import SvgWithTitleAndDescription from '@/components/SvgTitleAndDescription.astro';
import ImageHero1Linha from '@/components/image-hero/image-hero-1-linha-titulo.astro';
---

<html lang="pt-BR">
   <head>
      <meta charset="utf-8" />
      <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Extratora Wap Multi Flor</title>
      <meta name="description" content="Encontre as melhores ferramentas para seus projetos em nossa loja online. Amplas opções de ferramentas elétricas e manuais.">
      <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.3/dist/css/splide.min.css" />
   </head>
   <body class="m-0 flex flex-col w-full items-center py-8 [&>*]:max-w-6xl [&>*]:w-full lg:[&>*]:mb-20 [&>*]:mb-8 overflow-x-hidden">
      
      <section>
         <div>
            <section class="flex flex-col lg:flex-row items-center gap-x-10"> 
            <div class="w-full lg:w-1/2">
               <img src="/src/assets/extratora-multiflor/extratora-mult-flo-header.png" alt="Extratora WAP Multi Floor" class="w-[70%] m-auto lg:block hidden ">
            </div>
            <div class="w-full lg:w-1/2 flex flex-col justify-center px-5">
               <span class="text-2xl font-sans-book text-center lg:text-start mb-6 lg:mb-4">Extratora</span>
               <h1 class="lg:uppercase font-sans-bold -mt-1 text-xl lg:text-[3rem] font-bold mb-2 text-center lg:text-left">WAP MULTI FLOOR</h1>
               <img src="/src/assets/extratora-multiflor/extratora-mult-flo-header.png" alt="Extratora WAP Multi Floor" class="w-[70%] lg:hidden mb-6 mx-auto">
               <h2 class="text-2xl font-sans-bold max-w-full text-center lg:text-start mt-10 mb-4">Economize tempo <br class="lg:hidden"> limpando seu piso!</h2>
               <p class="text-base font-sans text-[#434343] max-w-[20rem] -mt-2 text-center lg:text-start text-center lg:m-0 m-auto">A limpadora de pisos a bateria 3 em 1, WAP MULTI FLOOR, chegou para tornar a experiência da limpeza do dia a dia uma tarefa mais fácil e prazerosa.</p>
            </div>
            </section>
         </div>
      </section>
   
      <section class="flex flex-col items-center gap-8 px-8 mt-12 lg:flex-row lg:items-start lg:gap-2 justify-evenly">
         <SvgWithTitleAndDescription 
            svg="/src/assets/replied/svgs/black/gotinhas.svg"
            title="3 em 1"
            description="Borrifa, esfrega e extrai a sujeira para uma limpeza mais rápida e eficiente."
            alignment="center"
            />
         <SvgWithTitleAndDescription
            svg="/src/assets/replied/svgs/black/raios.svg" 
            title="Pulverização"
            description="Bom para superfícies difíceis, sem esfregar e sem deixar manchas."
            alignment="center"
            />
         <SvgWithTitleAndDescription
            svg="/src/assets/replied/svgs/black/gota-auto-limpante.svg"
            title="Autolimpeza"
            description="A base de carregamento lava o rolo automaticamente, sem precisar tocar na sujeira."
            alignment="center"
         />
      </section>

      <ImageHero1Linha
         desktopImageSrc="/src/assets/extratora-multiflor/limpeza-sem-esforco.png"
         mobileImageSrc="/src/assets/extratora-multiflor/limpeza-sem-esforco.png"
         alt={productName}
         html={`
            <div>
               <h2 class="m-0 uppercase font-unisans-book text-[18px] sm:text-[2rem] leading-tight flex items-center gap-2 lg:gap-4">
                  <div class="font-sans-book">LIMPEZA</div> <div class="font-sans-bold">SEM ESFORÇO!</div>
                  <div class="h-0.5 w-[40%] lg:w-[60%] bg-zinc-400"></div>
               </h2>
            </div>
         `}
      />
      <section class="flex flex-col lg:flex-row items-center justify-between lg:px-8 py-8">
        <div class="lg:w-1/2 mb-6 lg:mb-0 lg:order-1 order-2">
          <h2 class="text-2xl lg:text-start text-center --title font-sans-bold lg:text-3xl font-bold mb-4">Mais uma inovação para sua casa!</h2>
          <p class="lg:text-start text-center --body font-sans-book lg:text-lg max-w-[80%] m-auto lg:m-0">
            Com alto poder de sucção e escova elétrica rotativa, a extratora pode sugar sujeiras úmidas, sendo a opção ideal também para quem tem pets, recolhendo com facilidade pelos de animais e cabelos, enquanto sua escova rotativa auxilia na esfregação, secagem e polimento do piso.
          </p>
        </div>
        <div class="lg:w-1/2 flex justify-center lg:order-2 order-1">
          <img 
            src="/src/assets/extratora-multiflor/mais-uma-invacao-para-sua-casa.png" 
            alt="Demonstração da extratora Multi Flor" 
            class="w-full rounded-lg lg:translate-y-10 lg:mt-0 mt-14"
          />
        </div>
      </section>
      
      <section class="lg:hidden flex flex-col items-center justify-center">
         <img src="/src/assets/extratora-multiflor/ideal-para-limpeza.png" alt="Extratora WAP Multi Floor" class="w-full m-auto">
      </section>
      <section class="flex flex-col lg:mt-24 -mt-8">
         <div class="bg-[#006CAB] py-5 lg:p-10 lg:rounded-2xl flex flex-col lg:flex-row  lg:items-center lg:h-[20rem] relative" >
            <div class="top-0 left-0 w-1/2">
               <img src="/src/assets/extratora-multiflor/ideal-para-limpeza.png" alt="Extratora WAP Multi Floor" class="-translate-y-[8.2rem] hidden lg:block -translate-x-[2.7rem]">
            </div>
            <div class="lg:w-1/2 lg:text-start text-center">
               <p class="text-white font-sans-book --body">Pensando em trazer mais mobilidade e praticidade, a limpadora é ideal para ser utilizada em superfícies como: <span class="font-sans-bold">madeira, azulejo, porcelanato, laminados, mármore, granito (pisos frios em geral)</span></p>
            </div>
         </div>
         <div class="bg-[#E5E5E5] flex flex-col pb-20 pt-5 -mt-5 rounded-2xl">
            <div class="flex flex-col items-center justify-center mt-16">
               <img src="/src/assets/extratora-multiflor/ideal-para-limpeza-em-icons.png" alt="Extratora WAP Multi Floor" class="hidden lg:block">
               <img src="/src/assets/extratora-multiflor/ideal-para-limpeza-em-icons-mobile.png" alt="Extratora WAP Multi Floor" class="lg:hidden w-[90%]">
            </div>
         </div>
       </section>

       <section class="flex flex-col lg:flex-row mt-10">
         <div class="lg:w-1/2 w-full flex flex-col justify-center">
            <img src="/src/assets/extratora-multiflor/tecnologia-inteligente-para-limpeza.png" alt="" class="w-[80%] m-auto">
         </div>
         <div class="lg:w-1/2 w-full">
            <h1 class="--title max-w-[50%] lg:max-w-[80%] lg:text-start text-center m-auto lg:m-0 lg:mt-0 mt-10 font-sans-bold text-2xl">Tecnologia inteligente para limpeza eficiente</h1>
            <p class="--body text-[#434343] lg:mt-5 mt-5 font-sans-book lg:text-start text-center m-auto lg:m-0 max-w-[80%]">O display de led compartilha informações úteis em tempo real, como o nível da bateria, modo de limpeza, indicativo de tanque de água suja cheio e indicativo de tanque de água limpa vazio. Com uma bateria de lithium, desfrute de até 27 minutos de autonomia, com potência de 300W.</p>
         </div>
      </section>

      <section class="mt-10 hidden lg:block">
        <div class="container mx-auto px-4">
          <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
            <div class="flex flex-col items-center text-center max-w-[90%]">
              <img src="/src/assets/extratora-multiflor/duas-velocidades.png" alt="Duas velocidades" class="w-full mb-4 rounded-lg"/>
              <h3 class="--title font-sans-bold mb-2">Duas velocidades</h3>
              <p class=" --body font-sans-book text-[#434343] w-[80%]">Escolha a velocidade ideal para cada tipo de piso e sujeira.</p>
            </div>
            <div class="flex flex-col items-center text-center max-w-[90%]">
              <img src="/src/assets/extratora-multiflor/dois-recipientes.png" alt="Dois recipientes" class="w-full mb-4 rounded-lg"/>
              <h3 class="--title font-sans-bold mb-2">Dois recipientes</h3>
              <p class=" --body font-sans-book text-[#434343] w-[80%]">Recipientes separados para extração (água suja) e outro para água limpa (pulverização).</p>
            </div>
            <div class="flex flex-col items-center text-center max-w-[90%]">
              <img src="/src/assets/extratora-multiflor/escova-rotativa.png" alt="Escova rotativa" class="w-full mb-4 rounded-lg"/>
              <h3 class="--title font-sans-bold mb-2">Escova rotativa</h3>
              <p class="--body font-sans-book text-[#434343] w-[80%]">Com escova elétrica rotativa pode sugar sujeiras úmidas, auxilia na esfregação, secagem e polimento do piso.</p>
            </div>
          </div>
        </div>
      </section>
      <section class="splide__wrapper mt-8 overflow-hidden lg:hidden border">
         <div class="splide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
               <ul class="splide__list">
                  <li class="splide__slide">
                     <div class="card">
                        <img class="rounded-lg card__image" src="/src/assets/extratora-multiflor/duas-velocidades.png" alt="Duas velocidades" />
                        <div class="card__content">
                           <div class="card__description --body">
                              <h3 class="--title font-sans-bold mb-2">Duas velocidades</h3>
                              <p class="--body font-sans-book text-[#434343]">Escolha a velocidade ideal para cada tipo de piso e sujeira.</p>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="splide__slide">
                     <div class="card">
                        <img class="rounded-lg card__image" src="/src/assets/extratora-multiflor/dois-recipientes.png" alt="Dois recipientes" />
                        <div class="card__content">
                           <div class="card__description --body">
                              <h3 class="--title font-sans-bold mb-2">Dois recipientes</h3>
                              <p class="--body font-sans-book text-[#434343]">Recipientes separados para extração (água suja) e outro para água limpa (pulverização).</p>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="splide__slide">
                     <div class="card">
                        <img class="rounded-lg card__image" src="/src/assets/extratora-multiflor/escova-rotativa.png" alt="Escova rotativa" />
                        <div class="card__content">
                           <div class="card__description --body">
                              <h3 class="--title font-sans-bold mb-2">Escova rotativa</h3>
                              <p class="--body font-sans-book text-[#434343]">Com escova elétrica rotativa pode sugar sujeiras úmidas, auxilia na esfregação, secagem e polimento do piso.</p>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </section>

      <section class="flex flex-col lg:flex-row mt-[10rem]">
         <div class="lg:w-1/2 mt-10">
            <h1 class="--title text-center m-auto lg:m-0 lg:text-start font-sans-bold lg:max-w-[80%] max-w-[55%]">Mais eficiência e praticidade na hora da limpeza</h1>
            <p class="--body font-sans-book m-auto lg:text-start text-center mt-10 lg:m-0 lg:max-w-[80%] max-w-[70%]">Conjunto completo de acessórios para todas as necessidades.</p>
         </div>
         <div class="lg:w-1/2 relative mt-[15rem] lg:mt-0 flex flex-col items-center justify-center lg:max-h-[15rem] max-h-[10rem] bg-[#006CAB] rounded-[10rem]">
            <div id="left-arrow" class="absolute z-100 left-10 cursor-pointer">
               <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="18.894" cy="18.894" r="18.894" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 0 37.7881)" fill="#D9D9D9"/>
                  <path d="M12.4484 19.6769C11.8626 19.0911 11.8626 18.1414 12.4484 17.5556L21.9943 8.00962C22.5801 7.42384 23.5298 7.42384 24.1156 8.00962C24.7014 8.59541 24.7014 9.54516 24.1156 10.1309L15.6304 18.6162L24.1156 27.1015C24.7014 27.6873 24.7014 28.637 24.1156 29.2228C23.5298 29.8086 22.5801 29.8086 21.9943 29.2228L12.4484 19.6769ZM14.2949 20.1162L13.509 20.1162L13.509 17.1162L14.2949 17.1162L14.2949 20.1162Z" fill="white"/>
               </svg>
            </div>
            <div id="right-arrow" class="absolute z-100 right-10 cursor-pointer">
               <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg" class="rotate-180">
                  <circle cx="18.894" cy="18.894" r="18.894" transform="matrix(1 -8.74228e-08 -8.74228e-08 -1 0 37.7881)" fill="#D9D9D9"/>
                  <path d="M12.4484 19.6769C11.8626 19.0911 11.8626 18.1414 12.4484 17.5556L21.9943 8.00962C22.5801 7.42384 23.5298 7.42384 24.1156 8.00962C24.7014 8.59541 24.7014 9.54516 24.1156 10.1309L15.6304 18.6162L24.1156 27.1015C24.7014 27.6873 24.7014 28.637 24.1156 29.2228C23.5298 29.8086 22.5801 29.8086 21.9943 29.2228L12.4484 19.6769ZM14.2949 20.1162L13.509 20.1162L13.509 17.1162L14.2949 17.1162L14.2949 20.1162Z" fill="white"/>
               </svg>
            </div>
            <img src="/src/assets/extratora-multiflor/slider-images/bateria.png" id="image-slider-holder" alt="" class="lg:-translate-y-[5rem] -translate-y-[6rem] lg:w-[20rem] w-[15rem] select-none">
            <h1 class="text-white absolute bottom-0 font-sans-bold text-2xl font-bold select-none" id="image-slider-title">Bateria</h1>
         </div>
      </section>


      <section class="hidden lg:flex flex-col mt-20 w-full"> 
         <h1 class="--title font-sans-bold max-w-[70%] m-auto text-center">
            Seu design leve e sem fio o torna mais fácil de transportar. 
            Limpe cada canto da sua casa sem esforço!
         </h1>
         <div class="mt-10">
            <img src="/src/assets/extratora-multiflor/limpe-cada-canto-da-sua-casa.png" alt="" class="w-full">
         </div>
      </section>

      </main>
      <script is:inline>
         document.addEventListener("DOMContentLoaded", function () {
           var splide = new Splide(".splide", {
             type: "loop",
             perPage: 1.5,
             perMove: 2,
             focus: "center",
             padding: '1rem',
             gap: '5rem',
             rewind: true,
             width: "min(490px, 100%)",
           });
           splide.mount();
         });
      </script>
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
      <script is:inline src="/src/pages/ferramentas/extratora-multi-flor/javascript/mini-slider.js"></script>
   </body>
</html>