---
import '@/styles/global.css';

import ThreeSvgsWithDescriptions from './components/3SvgsWithDescriptions.astro';

---

<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extratora Wap Multi Flor</title>
    <meta name="description" content="Encontre as melhores ferramentas para seus projetos em nossa loja online. Amplas opções de ferramentas elétricas e manuais.">
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.3/dist/css/splide.min.css" />
</head>

<body class="m-0 flex flex-col w-full items-center py-8 [&>*]:max-w-6xl [&>*]:w-full md:[&>*]:mb-20 [&>*]:mb-8 overflow-x-hidden ">

  <ThreeSvgsWithDescriptions />

      <section class="mt-8">
        <div class="pl-8 md:space-y-1 md:px-8">
          <h2 class="m-0 uppercase --title [font-weight:400] [fontFamily:FontBook_!important]">Garanta o conforto</h2>
          <div class="flex items-center gap-4">
            <h2 class="m-0 uppercase whitespace-nowrap [font-weight:400] [fontFamily:FontBook_!important] --title">
              que <span class="--title">sua família merece!</span>
            </h2>
            <div class="h-0.5 w-full bg-zinc-400"></div>
          </div>
        </div>
        <div class="w-full px-8 mt-8 text-center xl:px-0">
          <img src="https://lojawap.vteximg.com.br/arquivos/desktop-AIRFLOWU2_i01-0.png?v=638472238841870000" alt="Imagem do produto" class="[display:none] w-full md:block" />
          <img src="https://lojawap.vteximg.com.br/arquivos/mobile-AIRFLOWU2_i01-0.png?v=638472239088800000" alt="Imagem do produto" class="w-full md:hidden" />
        </div>
      </section>

      <section class="md:h-[38rem] mt-8 md:mt-24 px-8">
        <div class="relative w-full h-full">
          <div class="left-0 flex flex-col items-center mb-10 text-center md:absolute md:mb-0 md:items-start md:text-start top-4">
            <div>
              <img src="./imgs/replied/AIRFLOWU2_i06-0.png" alt="Imagem do produto" class="w-12 h-12 md:w-14 md:h-14" />
              <div class="m-0 mt-6 --title">Reservatório de 2,3L</div>
            </div>
            <p class="md:mt-4 mt-2 --body max-w-[18rem] lg:max-w-[16rem] leading-tight">
              Proporciona até 23 horas de bem-estar e uso contínuo sem precisar reabastecer o recipiente com água.
            </p>
          </div>
          <div class="left-0 flex flex-col items-center text-center md:absolute mb-10 md:items-start md:text-start top-[60%]">
            <div>
              <img src="./imgs/replied/AIRFLOWU2_i06-1.png" alt="Imagem do produto" class="w-12 h-12 md:w-14 md:h-14" />
              <div class="m-0 mt-6 --title">Sistema Ultrassônico</div>
            </div>
            <p class="md:mt-4 mt-2 --body max-w-[18rem] lg:max-w-[16rem] leading-tight">
              As vibrações em alta frequência do sistema ultrassônico proporcionam uma névoa fria e agradável durante o uso.
            </p>
          </div>
          <div class="items-center justify-center w-full h-full mt-4 mb-12 [display:none] md:flex">
            <img src="./imgs/desktop/AIRFLOWU2_i06-0.png" alt="Imagem do produto" class="object-contain object-center w-[40%]" />
          </div>
          <div class="right-0 flex flex-col items-center mb-10 text-center md:absolute md:mb-0 top-4 md:items-end">
            <div class="md:text-end">
              <img src="./imgs/replied/AIRFLOWU2_i06-2.png" alt="Imagem do produto" class="w-12 h-12 md:w-14 md:h-14" />
              <div class="m-0 mt-6 --title">Silencioso</div>
            </div>
            <p class="md:mt-4 mt-2 --body max-w-[18rem] lg:max-w-[16rem] md:text-end">
              Perfeito para noites de sono tranquilas, o umidificador de ar WAP é silencioso e econômico.
            </p>
          </div>
          <div class="right-0 flex flex-col items-center text-center md:absolute mb-10 top-[60%] md:items-end">
            <div class="md:text-end">
              <img src="./imgs/replied/AIRFLOWU2_i06-3.png" alt="Imagem do produto" class="w-12 h-12 md:w-14 md:h-14" />
              <div class="m-0 mt-6 --title">BIVOLT automático</div>
            </div>
            <p class="md:mt-4 mt-2 --body max-w-[18rem] lg:max-w-[16rem] leading-tight md:text-end">
              Tenha liberdade para usar seu umidificado onde quiser com segurança.
            </p>
          </div>
        </div>
      </section>
      <section class="w-full md:mt-24 max-h-[44rem]">
        <div class="w-full h-full">
          <img src="https://lojawap.vteximg.com.br/arquivos/desktop-AIRFLOWU2_i05-0.png?v=638547650174700000" alt="Imagem do produto" class="[display:none] object-cover object-center w-full sm:block" />
          <img src="https://lojawap.vteximg.com.br/arquivos/mobile-AIRFLOWU2_i05-0.png?v=638547649778300000" alt="Imagem do produto" class="object-cover object-center w-full sm:[display:none]" />
        </div>
      </section>
      <section class="px-8 mt-8">
        <div class="flex flex-col items-center gap-12 md:flex-row">
          <div class="relative w-3/4 md:w-1/2">
            <img src="./imgs/desktop/AIRFLOWU2_i04-0.png" alt="Imagem do produto" class="w-full" />
          </div>
          <div class="w-full space-y-4 md:w-1/2">
            <h3 class="pr-8 m-0 --title">Transforme sua casa em um refúgio de bem-estar!</h3>
            <p class="--body">
              Compacto, o <span class="font-semibold">umidificador de ar ultrassônico WAP</span> não apenas melhora a qualidade do ar, para que você e sua
              família respirem aliviados em todas as estações do ano, mas também contribui para a harmonia do ambiente.
            </p>
            <p class="--body">
              Através de vibrações ultrassônicas, o <span class="font-semibold">Air Flow U2</span> se torna o melhor parceiro para noites de sono tranquilas.
              Com <span class="font-semibold">desligamento automático</span> para facilitar a rotina, são 23 horas de autonomia, onde a névoa de vapor d’água é
              expelida no cômodo através do bico direcional
            </p>
          </div>
        </div>
      </section>

      <section class="relative">
        <div class="[display:none] px-8 sm:block">
          <div class="bg-[#A5C5ED] [display:none] md:block rounded-l-[14rem] right-0 absolute bottom-0 w-1/2 h-[100%]"></div>
          <div class="relative z-10 [display:none] w-full h-full mt-4 mb-12 md:block">
            <img src="./imgs/desktop/AIRFLOWU2_i08-0.png" alt="Imagem do produto" class="relative w-full" />
            <div class="absolute top-0 left-0 w-full h-full">
              <p class="absolute top-[12.5%] text-[16px] lg:text-[18px] leading-tight text-black font-book m-0 max-w-[24%]">
                O <span class="font-semibold">bico direcional</span> coloca em suas mãos a decisão da direção onde a névoa irá ser expelida.
              </p>
              <p class="absolute bottom-[19.5%] text-[16px] lg:text-[18px] leading-tight text-black font-book m-0 max-w-[28%]">
                O umidificador <span class="font-semibold">desliga automaticamente</span> quando o nível de água está baixo, evitando danos ao aparelho.
              </p>
              <p class="absolute top-[88.5%] text-[16px] lg:text-[18px] leading-tight text-black font-book m-0 max-w-[28%]">
                O <span class="font-semibold">botão regulador</span> proporciona controle total da sua experiencia, permitindo o ajuste ideal da intensidade da
                névoa em cada ambiente.
              </p>
              <p class="absolute bottom-[64%] text-[16px] text-black lg:text-[18px] right-0 font-book m-0 leading-tight max-w-[31%] text-end">
                A superfície do <span class="font-semibold">Air Flow U2</span> é customizável com <span class="font-semibold">adesivos destacáveis</span>, que
                possuem a temática do fundo do mar para as crianças soltarem a imaginação.
              </p>
              <p class="absolute bottom-[30%] text-[16px] text-black lg:text-[18px] right-0 font-book m-0 leading-tight max-w-[26%] text-end">
                Utilize o <span class="font-semibold">compartimento de aromas</span> para adicionar fragrâncias ou até óleos terapêuticos, e viva uma
                experiência única de conforto.
              </p>
              <p class="absolute top-[83.5%] text-black text-[16px] lg:text-[18px] right-0 font-book m-0 leading-tight max-w-[28%] text-end">
                Além de umidificar, o Air Flow U2 pode ser utilizado como <span class="font-semibold">luminária</span>, deixando o ambiente mais confortável com
                a luz de LED 4000K suave.
              </p>
            </div>
          </div>
        </div>
        
        <div class="splide__wrapper mt-8 md:h-[28rem] h-[20rem] w-full overflow-hidden md:hidden">
          <div class="splide" role="group" aria-label="Splide Basic HTML Example">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <div class="card">
                    <img class="rounded-lg card__image" src="./imgs/mobile/AIRFLOWU2_i08-0.png" alt="Imagem do produto" />
                    <div class="card__content">
                      <div class="card__description --body">
                        O <span class="font-semibold">bico direcional</span> coloca em suas mãos a decisão da direção onde a névoa irá ser expelida.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="card">
                    <img class="rounded-lg card__image" src="./imgs/mobile/AIRFLOWU2_i08-1.png" alt="Imagem do produto" />
                    <div class="card__content">
                      <div class="card__description --body">
                        O umidificador <span class="font-semibold">desliga automaticamente</span> quando o nível de água está baixo, evitando danos ao aparelho.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="card">
                    <img class="rounded-lg card__image" src="./imgs/mobile/AIRFLOWU2_i08-2.png" alt="Imagem do produto" />
                    <div class="card__content">
                      <div class="card__description --body">
                        O <span class="font-semibold">botão regulador</span> proporciona controle total da sua experiencia, permitindo o ajuste ideal da
                        intensidade da névoa em cada ambiente.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="card">
                    <img class="rounded-lg card__image" src="./imgs/mobile/AIRFLOWU2_i08-3.png" alt="Imagem do produto" />
                    <div class="card__content">
                      <div class="card__description --body">
                        A superfície do Air Flow U2 é customizável com <span class="font-semibold">adesivos destacáveis</span> para as crianças soltarem a
                        imaginação.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="card">
                    <img class="rounded-lg card__image" src="./imgs/mobile/AIRFLOWU2_i08-4.png" alt="Imagem do produto" />
                    <div class="card__content">
                      <div class="px-2 card__description --body">
                        Utilize o <span class="font-semibold">compartimento de aromas</span> para adicionar fragrâncias ou até óleos terapêuticos, e viva uma
                        experiência única de conforto.
                      </div>
                    </div>
                  </div>
                </li>
                <li class="splide__slide">
                  <div class="card">
                    <img class="rounded-lg card__image" src="./imgs/mobile/AIRFLOWU2_i08-5.png" alt="Imagem do produto" />
                    <div class="card__content">
                      <div class="card__description --body">
                        Além de umidificar, o Air Flow U2 pode ser utilizado como <span class="font-semibold">luminária</span>, deixando o ambiente mais
                        confortável com a luz de LED 4000K suave.
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="mt-8 md:my-24">
        <div class="flex flex-col items-center gap-12 md:flex-row">
          <div class="w-full px-8 space-y-4 md:w-1/2">
            <h3 class="m-0 --title">Iluminação suave para a <br />rotina noturna</h3>
            <p class="--body">
              A combinação entre funcionalidade e iluminação do <span class="font-semibold">Air Flow U2</span> o torna não apenas um umidificador, mas também um
              elemento decorativo. A função “Luminária” integrada ao design do aparelho emite uma luz suave e difusa, proporcionando conforto visual e aconchego
              ao ambiente.
            </p>
          </div>
          <div class="relative w-full md:w-1/2">
            <img src="https://lojawap.vteximg.com.br/arquivos/desktop-AIRFLOWU2_i02-0.png?v=638547650024830000" alt="Imagem do produto" class="w-full [display:none] md:block" />
            <img src="https://lojawap.vteximg.com.br/arquivos/mobile-AIRFLOWU2_i06-0.png?v=638547649612430000" alt="Imagem do produto" class="w-full md:hidden" />
          </div>
        </div>
      </section>
      <section class="px-8 mt-8 md:mb-14">
        <div class="flex flex-col-reverse items-center gap-12 md:gap-20 md:flex-row-reverse">
          <div class="w-full space-y-4 md:w-1/2">
            <h3 class="m-0 --title">
              Facilidade, diversão <br />
              e bem-estar
            </h3>
            <p class="--body">
              O umidificador de ar WAP possui uma tecnologia avançada de emissão de névoa por vibrações ultrassônicas que coloca o controle da intensidade nas
              suas mãos. No topo do aparelho, próximo à tampa de reabastecimento, o <span class="font-semibold">bico direcional</span> permite o ajuste da névoa
              na direção desejada com conforto e praticidade.
            </p>
          </div>
          <div class="relative w-2/3 md:w-1/3">
            <img src="./imgs/desktop/AIRFLOWU2_i07-0.png" alt="Imagem do produto" class="w-full [display:none] md:block" />
            <img src="./imgs/mobile/AIRFLOWU2_i07-0.png" alt="Imagem do produto" class="w-full md:hidden" />
          </div>
        </div>
      </section>
      <section class="px-8 mt-8">
        <div class="flex flex-col items-center gap-12 md:gap-20 md:flex-row">
          <div class="w-full space-y-4">
            <h3 class="m-0 --title">
              Dias secos não precisam <br class="md:hidden" />
              mais ser problema
            </h3>
            <p class="--body">
              A baixa umidade não deve mais ser motivo de desconforto! Tenha sensação de segurança, conforto e bem-estar com um grande aliado para a sua saúde e
              da sua família.
            </p>
            <p class="--body">
              <span class="font-semibold">Umidificador de Ar WAP Air Flow U2</span>: ótimo custo-benefício para dias agradáveis e noites de sonos tranquilas,
              levando a 0 as chances de quadros de sinusite, rinite e de congestão nasal.
            </p>
          </div>
        </div>
      </section>
    </main>
    <script defer>
      document.addEventListener("DOMContentLoaded", function () {
        var splide = new Splide(".splide", {
          type: "loop",
          perPage: 1,
          perMove: 2,
          focus: "center",
          //padding: '5rem',
          gap: "15px",
          rewind: true,
          width: "min(190px, 70% - 60px)",
        });
        splide.mount();
      });
    </script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
  </body>
</html>
