---
export interface Props {
  desktopImage: string;
  mobileImage: string;
  alt: string;
}

const { desktopImage, mobileImage, alt} = Astro.props;
---

<div>
  <img src={desktopImage} alt={alt} class="w-full h-auto hidden md:block relative" />
  <img src={mobileImage} alt={alt} class="w-full m-auto md:hidden" />
</div>
